


/*List view color changes*/
table.o_list_view tbody tr:hover{
    background-color: #ffb3b3  !important;
}
table.o_list_view tbody tr:nth-of-type(2n+1):hover{
    background-color: #ffb3b3 !important;
}
table.o_list_view tbody tr.row_selected{
    background-color: #337ab7 !important;
    color:#ffffff
}



